.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-right: 0;
  padding: 0;
}
.profile__content {
  display: flex;
  align-items: center;
}
.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile__info {
  max-width: 415px;
  margin-left: 30px;
  padding: 0;
}
.profile__title {
  margin: 0;
  padding: 0;
  font-family: "Inter Medium", Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
}
.profile__subtitle {
  margin: 16px 0 0;
  padding: 0;
  font-family: "Inter Regular", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
}
.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../images/pen.svg) center no-repeat;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 18px;
  vertical-align: middle;
}
.profile__edit-button:hover {
  border-color: blue;
  cursor: pointer;
}
.profile__add-button {
  width: 150px;
  height: 50px;
  background: url(../images/plus.svg) center no-repeat;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__add-button:hover {
  border-color: blue;
  cursor: pointer;
}
@media screen and (max-width: 544px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 38.25px 19px 36px;
  }
  .profile__content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px;
  }
  .profile__image {
    width: 120px;
    height: 120px;
  }
  .profile__info {
    text-align: center;
    margin-top: 26.25px;
    margin-left: 0;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .profile__add-button {
    width: 282px;
    height: 50px;
  }
}
@media screen and (min-width: 545px) and (max-width: 1024px) {
  .profile {
    margin: 38.25px 27px auto;
  }
  .profile__title {
    font-size: 36px;
    line-height: 44.64px;
  }
}
