.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffff;
  color: #000;
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}
.card__delete-button {
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  background: url(../images/trash.svg) center no-repeat;
  background-color: transparent;
  border: none;
}
.card__delete-button:hover {
  opacity: 0.6;
  transition: all 1s ease-out;
  cursor: pointer;
}
.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 25px auto 31px 21px;
}
.card__like-group {
  margin: 22px 18px 22px auto;
  width: 21px;
  height: 35px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.card__like-button {
  background: transparent url("../images/like-icon.svg") center no-repeat;
  margin: 0;
  margin-bottom: 3px;
  width: 21px;
  height: 19px;
  border: none;
}
.card__like-button:hover {
  opacity: 0.5;
  transition: all 1s ease-out;
  cursor: pointer;
}
.card__like-button_active {
  background-image: url(../images/like-active.svg);
}
.card__like-count {
  margin: 0;
  padding: 0;
}
