.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-right: 0;
  padding: 0;
}
.profile__content {
  position: relative;
  display: flex;
  align-items: center;
}
.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* z-index: 1; */
}
.profile__image-edit {
  display: flex;
  position: absolute;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0);
}
.profile__image-edit:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-out;
  z-index: 2;
}
.profile__image-edit-btn {
  margin: auto;
  width: 26px;
  height: 26px;
  background: url(../images/pen.svg) center no-repeat;
  opacity: 0;
  background-color: transparent;
  background-size: 110%;
  border: none;
  cursor: pointer;
}
.profile__image-edit-btn:hover {
  opacity: 1;
  cursor: pointer;
  border: none;
  z-index: 2;
}

.profile__info {
  max-width: 415px;
  margin-left: 30px;
  padding: 0;
}
.profile__title-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__title {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.profile__subtitle {
  margin: 16px 0 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 415px;
}
.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../images/pen.svg) center no-repeat;
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-left: 18px;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__add-button {
  width: 150px;
  height: 50px;
  background: url(../images/plus.svg) center no-repeat;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .profile {
    margin: 38.25px 27px auto;
  }
  .profile__title {
    font-size: 36px;
    line-height: 44.64px;
  }
}
@media screen and (max-width: 721px) {
  .profile__title {
    max-width: 140px;
  }
  .profile__subtitle {
    max-width: 182px;
  }
}
@media screen and (max-width: 470px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    margin: 38.25px 19px 36px;
  }
  .profile__content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px;
  }
  .profile__image-edit {
    top: 0;
  }
  .profile__info {
    margin-top: 26.25px;
    margin-left: 0;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    text-align: center;
  }
  .profile__add-button {
    width: 282px;
    flex-shrink: 0;
  }
}
